/*.egg-info
.cache/
dist/
.idea
__pycache__
algoengine.iml
rqalpha.system.log
*.bcolz
*.pk
*.h5
.vscode
*.c
*.so
*.pyc
build/
bundle/
bundle
persist/
.coverage
.tox
rqalpha_test_coverage_report/
.tmp.pkl
.env
