requests
numpy
pandas >=0.18.1
python-dateutil >=2.5.3
six >=1.10.0
logbook >=1.0.0
click >=7.0
simplejson >=3.10.0
PyYAML >=3.12
tabulate
h5py

# pip install jsonpickle==0.9.4 
# pip install dill==0.2.5
# pip install rqrisk
# mamba install matplotlib
# pip install . -e
