requests
numpy >=1.11.1
python-dateutil >=2.5.3
pytz >=2016.4
six >=1.10.0
pytest >=2.9.2
logbook >=1.0.0
click >=7.0
jsonpickle ==0.9.4
simplejson >=3.10.0
dill ==0.2.5
XlsxWriter >=0.9.6
PyYAML >=3.12
tabulate

pandas >=0.18.1 ; python_version != '3.4'
pandas >=0.18.1,<=0.22.0 ; python_version == '3.4'

bcolz >=1.1.0 ; python_version != '3.4'
bcolz >=1.1.0,<=1.2.0 ; python_version =='3.4'

matplotlib >=1.5.1 ; python_version >= '3.5'
matplotlib >=1.5.1,<=2.2.3 ; python_version <= '3.4'

ipython ==6.5.0 ; python_version == '3.4'
ipython ==5.3.0 ; python_version == '2.7'

line-profiler >=2.0

enum34 >=1.1.6 ; python_version == '2.7'
fastcache >=1.0.2 ; python_version == '2.7'
funcsigs ; python_version == '2.7'
backports.tempfile ; python_version == '2.7'
mock ; python_version == '2.7'
