numpy>=1.11.1
pandas>=0.18.1
python-dateutil>=2.5.3
pytz>=2016.4
six>=1.10.0

pytest>=2.9.2
enum34>=1.1.6
# TA-Lib>=0.4.9

logbook>=1.0.0
click>=6.6
matplotlib>=1.5.1
bcolz>=1.1.0
requests>=2.10.0

# ipdb

# addition
# scipy
# statsmodels
