name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    # Checks out a copy of your repository on the ubuntu-latest machine
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache dependencies
      # cache will change when runner.os or requirements.txt changed
      uses: actions/cache@v4
      id: cache
      with:
        path: |
          ~/.cache/pip
          ~/.local
          /usr/local/lib/ta-lib
        key: ${{ runner.os }}-py-${{ matrix.python-version }}-deps-${{ hashFiles('**/requirements.txt') }}
    - name: Install Python dependencies
      run: |
        # Install TA-Lib
          wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
          tar -xzvf ta-lib-0.4.0-src.tar.gz
          cd ta-lib
          ./configure --prefix=/usr
          make
          sudo make install
          cd ..
        # Install Test Deps
          pip install -U pip
          # Install numpy based on Python version
          if [[ "${{ matrix.python-version }}" < "3.12" ]]; then
            pip install "numpy<2.0.0"
          else
            pip install "numpy>=2.0.0"
          fi
          pip install TA-Lib -i https://rquser:Ricequant8@pypi2.ricequant.com/simple/
          pip install coveralls
          pip install -U setuptools
          pip install ipython==5.3.0
          pip install --prefer-binary .

        # download-bundle
          rqalpha download-bundle
    - name: run test
      run:  |
          coverage run --source=rqalpha test.py
          ls -al $HOME/.rqalpha/
          ls -al $HOME/.rqalpha/bundle/
    - name: Upload coverage data to coveralls.io
      # https://coveralls-python.readthedocs.io/en/latest/usage/configuration.html#configuration
      # need COVERALLS_REPO_TOKEN
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
        COVERALLS_PARALLEL: true
      run: |
        python -m coveralls --service=github

  coveralls:
    name: Indicate completion to coveralls.io
    # need secrets.GITHUB_TOKEN
    needs: test
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        python -m coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
